<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <% if (error) { %>
  <h1><%= title %></h1>
  <h2><%= error %></h2>
  <a href="/">Home</a>
<% } else { %>
  <script>window.location.href = '/'</script>
<% } %>
</body>
</html>
